.btn {
	padding: 10px 20px;
	border: 1px solid $primary-color;
	border-radius: 3px;

	&--primary {
		color: $background-color;
		background-color: $primary-color;
	}

	&--primary:hover {
		color: $text-color;
	}

	&--secondary {
		color: $primary-color;
	}

	&--secondary:hover {
		color: $text-color;
	}
}