/**
 * 1. Magic nubmer, nema nikakve matematike jednostavno odgovara
 */
.cta {
	padding: 50px 0 100px 0;
	text-align: center;

	h1 {
		width: 500px;
		line-height: 50px; /* [1] */
		margin: 0 auto;
		padding-bottom: 50px;
	}
}