.features {
	text-align: center;
	padding: 50px; 

	&__items {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	&__item {
		padding: 15px;
	}

	&__item img {
		@include breakpoint ($small) {
			width: 48px;
			padding: 15px 0 5px 0;
		}

		@include breakpoint ($large) {
			width: 64px;
			padding: 30px 0 5px 0;
		}
	}

	&--top {
		font-size: 18px;

		h1 {
			color: $primary-color;
		}

		p {
			width: 280px;
			margin: 0 auto;
		}
	}

	&--bot p {
		width: 240px;
		margin: 0 auto;
	}
}