.btn {
	text-align: center;
	border: 1px solid $primary-color;
	border-radius: 3px;
	padding: 10px 20px;

	&--primary {
		color: $background-color;
		background-color: $primary-color;
		flex-grow: 1;
	}

	&--primary:hover {
		color: $primary-color;
		background-color: $background-color;
	}

	&--secondary {
		color: $primary-color;
		margin-left: 5px;

		@include breakpoint ($small) {
			flex-grow: 2;
		}

		@include breakpoint ($medium) {
			flex-grow: 1;
		}
	
		@include breakpoint ($large) {
			flex-grow: 3;
			margin-right: 80px;
		}	
	}

	&--secondary:hover {
		color: $background-color;
		background-color: $primary-color;
	}
}