.price {
	@include breakpoint ($small) {
		font-size: 32px;

		sup {
			font-size: 18px;
		}
	}
	
	@include breakpoint ($large) {
		font-size: 36px;

		sup {
			font-size: 20px;
		}
	}

	small {
		color: $primary-color;
		font-size: 14px;
	}
}