// E da te pitam, jel negdje u dosadasnjim materijalima bilo
// spominjano Em Rem jedinice i kako se koriste? Javi mi na slack :D

.price {
	font-size: 36px;

	sup {
		font-size: 20px;
	}

	small {
		color: $primary-color;
		font-size: 14px;
	}
}
