// Dobro ovdje sad nema puno stvari, ali inace mozes u svaki sass fajl
// staviti neki header da znas za sto koji dio koda sluzi
// ja koristim ovo dolje jer mi izgleda cool :D

/*------------------------------------*\
** COLORS
\*------------------------------------*/

$primary-color: #59c4f8;
$background-color: #f9f9f9;
$text-color: #222222;
$cta-color: #ff3478;
